body {
    padding-top: 44px;
}
a {
    text-decoration: none !important;
    border-bottom: 1px dotted;
}
a:active,
a:hover {
    border-bottom: 1px solid;
}
.navbar a {
    border-bottom: 0;
}
.overflow-auto {
    overflow: auto;
}
.nobottom {
    margin-bottom: 0;
}
@font-face {
    font-family: 'URWChanceryL';
    src:url('../fonts/URWChanceryL-MediItal.woff') format('woff'),
        url('../fonts/URWChanceryL-MediItal.ttf') format('truetype'),
        url('../fonts/URWChanceryL-MediItal.svg#URWChanceryL-MediItal') format('svg');
}
.navbar-default {
    background-image: -webkit-linear-gradient(bottom, #ffdab6 0, #ffebd7 15px);
    background-image:    -moz-linear-gradient(bottom, #ffdab6 0, #ffebd7 15px);
    background-image:      -o-linear-gradient(bottom, #ffdab6 0, #ffebd7 15px);
    background-image: linear-gradient(to top, #ffdab6 0, #ffebd7 15px);
    background-repeat: repeat-x;
    box-shadow: 0px 1px 7px rgba(0, 0, 0, .3);
}
.navbar-inverse {
    background-image: -webkit-linear-gradient(bottom, #9a4b01 0, #c66700 15px);
    background-image:    -moz-linear-gradient(bottom, #9a4b01 0, #c66700 15px);
    background-image:      -o-linear-gradient(bottom, #9a4b01 0, #c66700 15px);
    background-image: linear-gradient(to top, #9a4b01 0, #c66700 15px);
    background-repeat: repeat-x;
    box-shadow: 0px 1px 7px rgba(0, 0, 0, .7);
}
.navbar-default .navbar-nav > li > a {
    font-weight: bold;
    text-shadow: 0px -1px 0px #f5cba0, 0px 1px 0px #a55102, 2px 2px 12px rgba(0, 0, 0, .5);
}
.navbar-inverse .navbar-nav > li > a {
    font-weight: bold;
    text-shadow: 0px -1px 0px #ffdab6, 0px 1px 0px #6d3702, 2px 2px 12px rgba(0, 0, 0, .8);
}
.navbar .navbar-brand {
    line-height: 15px;
    font-size: 23px;
    font-family: 'URWChanceryL';
    font-weight: bold;
}
.navbar-default .navbar-brand {
    text-shadow: -1px -1px 0px #f5cba0, 0px 1px 0px #a55102, 2px 2px 12px rgba(0, 0, 0, .5);
}
.navbar-inverse .navbar-brand {
    text-shadow: 0px -1px 0px #ffdab6, 0px 1px 0px #6d3702, 2px 2px 12px rgba(0, 0, 0, .8);
}
.header {
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.header #clock {
    background-image: url(/img/clock-background.png);
    border-radius: 56px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, .5);
}
.header .title {
    margin: 0 15px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #e18528;
    text-align: center;
    /*line-height: 40px;*/
    font-family: 'URWChanceryL';
    text-shadow: -1px -1px 0px #f5cba0, 1px 1px 0px #a55102, 2px 2px 12px rgba(0, 0, 0, .5);
}
.header .brand {
    line-height: 52px;
    font-size: 46px;
}
.header .date {
    line-height: 36px;
    font-size: 24px;
}
.google-map {
    width: 100%;
    height: 450px;
}
@media (max-width: 767px) {
    .header {
        display: none;
    }
}
@media (max-width: 767px) {
    .google-map {
        height:250px;
    }
}

